<ul class="flex-row baseline start">
    {{# each profiles }}
        <li class="post-it spaced shadow flex-column baseline">
            <div class="flex-row wide space-between">
                <h2 class="title-text large">User</h2>
                <div>
                    <i class="clickable material-icons done-btn" id="{{_id}}">done</i>
                </div>
            </div>
            <div class="flex-column baseline indented">
                <div class="info-text">
                    <span class="bold key">First Name</span>
                    <span class="consolas" data-value-for="firstName" contenteditable>{{firstName}}</span>
                </div>
                <div class="info-text">
                    <span class="bold key">Last Name</span>
                    <span class="consolas" data-value-for="lastName" contenteditable>{{lastName}}</span>
                </div>
                <div class="info-text">
                    <span class="bold key">email</span>
                    <span class="consolas" data-value-for="email" contenteditable>{{email}}</span>
                </div>
                <div class="info-text">
                    <span class="bold key">Insurance Provider</span>
                    <span class="consolas" data-value-for="insuranceProvider" contenteditable>{{insuranceProvider}}</span>
                </div>
                <div class="info-text">
                    <span class="bold key">Set Password</span>
                    <input class="consolas" data-value-for="password" type="password">
                </div>
                <div class="info-text">
                    <span class="bold key">admin</span>
                <input data-value-for="admin" type="checkbox" {{#if admin}}checked{{/if}}>
                </div>
            </div>
            <div class="info-text msg"></div>
        </li>
    {{/each}}
</ul>