{{!-- {{#> layouts/main}}
{{#*inline "page-header"}}
<div class="page-header header-filter"
	style="background-image: url(''); background-size: cover; background-position: top center;"></div>
{{/inline}}
{{#*inline "main-block"}}
<div class="main main-raised">
	<div class="profile-content">
		<div class="container">
			<div class="row">
				<div class="col-md-6 ml-auto mr-auto">
					<div class="profile">
						<div class="avatar">
							{{#if userPhotoURL }}
							<img src="{{userPhotoURL}}" alt="Circle Image" class="img-raised rounded-circle img-fluid">
							{{else}}
							<img src="../assets/img/Stevens/Attila.png" alt="Circle Image" class="img-fluid">
							{{/if}}
						</div>
						<div class="name">
							<h3 class="title">
								{{user.firstName}} {{user.lastName}}
							</h3>
						</div>
						<br>
						<button class="btn btn-primary btn-round" data-toggle="modal" data-target="#profileEdit">
							<i class="material-icons">edit</i> Edit Profile
						</button>
						<h6>{{user.major}} {{user.gradYear}}</h6>
					</div>
				</div>
			</div>
			<div class="description text-center">
				<p>
					{{user.bio}}
				</p>
			</div>
		</div>
	</div>
</div>
{{> modals/profile/edit}}
{{/inline}}
{{/layouts/main}} --}}




{{!-- Found a better profile page template --}}

{{#> layouts/main}}
{{#*inline "page-header"}} --}}


<div class="page-header header-filter" data-parallax="true"
	style="background-image: url('../assets/img/city-profile.jpg');"></div>
<div class="main main-raised">
	<div class="profile-content">
		<div class="container">
			<div class="row">
				<div class="col-md-6 ml-auto mr-auto">
					<div class="profile">
						<div class="avatar">
							{{#if userPhotoURL }}
							<img src="{{userPhotoURL}}" alt="Circle Image" class="img-raised rounded-circle img-fluid">
							{{else}}
							<img src="../assets/img/Stevens/Attila.png" alt="Circle Image" class="img-fluid">
							{{/if}}
						</div>

						<div class="name">
							<h3 class="title">{{user.firstName}} {{user.lastName}}</h3>
							<h6>{{user.email}}</h6>
						</div>
					</div>
				</div>
			</div>
			<div class="description text-center">
				<p>Description Example YYEHHHEHHH</p>
			</div>
			<div class="row">
				<div class="col-md-6 ml-auto mr-auto">
					<div class="profile-tabs">
						<ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
									<i class="material-icons">camera</i> Studio
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#works" role="tab" data-toggle="tab">
									<i class="material-icons">palette</i> Work
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
									<i class="material-icons">favorite</i> Favorite
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="tab-content tab-space">
				<div class="tab-pane active text-center gallery" id="studio">
					<div class="row">
						<div class="col-md-3 ml-auto">
							<img src="../assets/img/examples/studio-1.jpg" class="rounded">
							<img src="../assets/img/examples/studio-2.jpg" class="rounded">
						</div>
						<div class="col-md-3 mr-auto">
							<img src="../assets/img/examples/studio-5.jpg" class="rounded">
							<img src="../assets/img/examples/studio-4.jpg" class="rounded">
						</div>
					</div>
				</div>

				{{!-- Content to show when icons are selected based on id --}}
				<div class="tab-pane text-center gallery" id="works">
					<div class="row">
						<div class="col-md-3 ml-auto">
							<img src="../assets/img/examples/olu-eletu.jpg" class="rounded">
							<img src="../assets/img/examples/clem-onojeghuo.jpg" class="rounded">
							<img src="../assets/img/examples/cynthia-del-rio.jpg" class="rounded">
						</div>
						<div class="col-md-3 mr-auto">
							<img src="../assets/img/examples/mariya-georgieva.jpg" class="rounded">
							<img src="../assets/img/examples/clem-onojegaw.jpg" class="rounded">
						</div>
					</div>
				</div>
				<div class="tab-pane text-center gallery" id="favorite">
					<div class="row">
						<div class="col-md-3 ml-auto">
							<img src="../assets/img/examples/mariya-georgieva.jpg" class="rounded">
							<img src="../assets/img/examples/studio-3.jpg" class="rounded">
						</div>
						<div class="col-md-3 mr-auto">
							<img src="../assets/img/examples/clem-onojeghuo.jpg" class="rounded">
							<img src="../assets/img/examples/olu-eletu.jpg" class="rounded">
							<img src="../assets/img/examples/studio-1.jpg" class="rounded">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{{!-- <footer class="footer footer-default">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="https://www.creative-tim.com">
              Creative Tim
            </a>
          </li>
          <li>
            <a href="https://creative-tim.com/presentation">
              About Us
            </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com">
              Blog
            </a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/license">
              Licenses
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
			document.write(new Date().getFullYear())
		</script>, made with <i class="material-icons">favorite</i> by
        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
      </div>
    </div>
  </footer> --}}



{{/inline}}
{{/layouts/main}} --}}