{{#> layouts/main}}
{{#*inline "page-header"}}
<div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/bg3.jpg');">
</div>
{{/inline}}

{{#*inline "main-block"}}
<div class="main main-raised">
	<div class="profile-content">
		<div class="container">
			<div class="row">
				<div class="col-md-6 ml-auto mr-auto">
					<div class="profile">
						<div class="avatar">
							{{#if user.photo }}
							<img src="{{user.photo}}" alt="Circle Image" class="img-raised rounded-circle img-fluid">
							{{else}}
							<img src="../assets/img/Stevens/Attila.png" alt="Circle Image" class="img-fluid">
							{{/if}}
						</div>

						<div class="name">
							<h3 class="title">{{user.firstName}} {{user.lastName}}</h3>
							<h6>{{user.email}}</h6>
						</div>
					</div>
				</div>
			</div>

			<div class="description text-center">
				<p>Insurance Provider: {{user.insuranceProvider}}</p>
			</div>

			<div class="row">
				<div class="col-md-12 ml-auto mr-auto">
					<div class="profile-tabs">
						<ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">

							<li class="nav-item">
								<a class="nav-link active" href="#admin" role="tab" data-toggle="tab">
									<i class="material-icons">people</i> Profiles
								</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="#edit" role="tab" data-toggle="tab">
									<i class="material-icons">local_hospital</i> Practitioners
								</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="#appointments" role="tab" data-toggle="tab">
									<i class="material-icons">schedule</i> Appointments
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			{{!-- Content to show when icons are selected based on id. Made clear seperation --}}

			<div class="tab-content tab-space">
				<div class="tab-pane active text-center gallery" id="profiles">
					<div class="row">
						<div class="col-md-12 mr-auto">
							<p>Show profiles here</p>
						</div>
					</div>
				</div>


				<div class="tab-pane text-center gallery" id="practitioners">
					<div class="row">
						<div class="col-md-12 ml-auto">
							<p>show practitioners here</p>
						</div>
					</div>
				</div>


				<div class="tab-pane text-center gallery" id="appointments">
					<div class="row">
						<div class="col-md-3 ml-auto">
							<p>This is where appointments should show up</p>
						</div>
						<div class="col-md-3 mr-auto">
							<p>If no appointments, just display no appointments</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{/inline}}
{{/layouts/main}}