<ul class="flex-row baseline start">
    {{# each practitioners }}
        <li class="post-it spaced shadow flex-column baseline">
            <div class="flex-row wide space-between">
                <h2 class="title-text large" data-value-for="name" contenteditable>{{name}}</h2>
                <div>
                    <i class="clickable material-icons delete-btn" id="{{_id}}">delete</i>
                    <i class="clickable material-icons done-btn" id="{{_id}}">done</i>
                </div>
            </div>
            <div class="flex-column baseline indented">
                <div class="info-text">
                    <span class="bold key">Latitude</span>
                    <span class="consolas" data-value-for="lat" contenteditable>{{location.lat}}</span>
                </div>
                <div class="info-text">
                    <span class="bold key">Longitude</span>
                    <span class="consolas" data-value-for="long" contenteditable>{{location.long}}</span>
                </div>
                <div class="wide">
                    <div class="flex-row wide space-between">
                        <h3 class="title-text unset-size">Procedures</h3>
                        <div>
                            <i class="clickable material-icons adder" data-key-for="procedures" data-key-type="key-value" data-key-class="bold key" data-value-class="money consolas">add</i>
                            <i class="clickable material-icons remover">remove</i>
                        </div>
                    </div>
                    {{#each procedures}}
                        <div class="info-text element">
                            <span class="bold key" data-key="procedures" data-id="{{@key}}{{@index}}" contenteditable>{{@key}}</span>
                            <span class="money consolas" data-value-for="procedures" data-id="{{@key}}{{@index}}" contenteditable>{{this}}</span>
                        </div>
                    {{/each}}
                </div>
                <div class="wide">
                    <div class="flex-row wide space-between">
                        <h3 class="title-text unset-size">Accepted Providers</h3>
                        <div>
                            <i class="clickable material-icons adder" data-key-for="providers" data-value-class="info-text">add</i>
                            <i class="clickable material-icons remover">remove</i>
                        </div>
                    </div>
                    {{#each providers}}
                        <div class="info-text consolas element" data-value-for="providers" contenteditable>{{this}}</div>
                    {{/each}}
                </div>
            </div>
            <div class="info-text msg"></div>
        </li>
    {{/each}}
</ul>