<ul class="flex-row baseline start">
    {{# each appointments }}
        <li class="post-it spaced shadow flex-column baseline">
            <div class="flex-row wide space-between">
                <h2 class="title-text large">User Id: {{userId}}</h2>
                <div>
                    <i class="clickable material-icons delete-btn" id="{{_id}}">delete</i>
                    <i class="clickable material-icons done-btn" id="{{_id}}">done</i>
                </div>
            </div>
            <div class="flex-column baseline indented">
                <div class="info-text">
                    <span class="bold key">Practitioner</span>
                    <span class="consolas">{{practitioner}}</span>
                </div>
                <div class="info-text">
                    <span class="bold key">Cost</span>
                    <span class="money consolas" data-value-for="cost" contenteditable>{{cost}}</span>
                </div>
                <div class="info-text">
                    <span class="bold key">Verified?</span>
                <input data-value-for="verified" type="checkbox" {{#if verified}}checked{{/if}}>
                </div>
            </div>
            <div class="info-text msg"></div>
        </li>
    {{/each}}
</ul>